<div class="">
  <div class="">

    <div class="">
      <%= render 'shared/new_post' %>
    </div>
    <h5 class="">Posts</h5>
    <div class="">
      <%= render @posts %>
    </div>
  </div>
</div>
