/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background: #F5F6F7;
}
.navbar {
  background: #3b5998;
}

.r-float {
  float: right;
}

.navbar a {
  color: #fff !important;
}
.navbar a:hover {
  background: #25385f !important;
}


.ad-img {
  width: 100% !important;
}

img {
  width: 100% !important;
}

a {
  color: #3b5998;
}

.gravatar {
  border: 2px solid #e3e3e3;
  width: 70% !important;
  border-radius: 50%;
}

.d-flex {
  display: flex;
}

.comment {
  padding: 15px;
  background: #f5f6f7;
  margin: 5px auto;
}
.list {
  width: 100%;
  border-bottom: 2px solid #e3e3e3;
  background: #fff;
  margin: 5px auto;
  padding: 10px;
}
